{% extends 'horarios/base.html' %}

{% block title %}Panel administrador{% endblock %}

{% block content %}
<h1>Panel de administración</h1>
<ul>
    <li><a href="{% url 'horarios:admin_grados' %}">Añadir/Modificar grados</a></li>
    <li><a href="{% url 'horarios:admin_asignaturas' %}">Añadir/Modificar asignaturas</a></li>
    <li><a href="{% url 'horarios:admin_profesores' %}">Añadir/Modificar profesores</a></li>
    <li><a href="{% url 'horarios:admin_grado_asignaturas' %}">Relacionar grados con asignaturas</a></li>
    <li><a href="{% url 'horarios:admin_asignatura_profesores' %}">Relacionar profesores con asignaturas</a></li>
    <li><a href="{% url 'horarios:admin_horarios' %}">Generar/Modificar horarios</a></li>
    <li><a href="{% url 'horarios:admin_solicitudes' %}">Solicitudes de profesores</a></li>
</ul>
{% endblock %}
